<% const gallrey = [
  {
    src: 'https://images.unsplash.com/photo-1583394838336-acd977736f90?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=384&q=80',
    title: 'Title',
    text: 'TEXT Lorem ipsum dolor sit amet, consectetur adipisicing elit',
    type: 'Headset',
    brand: 'BRAND of tech ?'
    
  },
    {
    link:'/phone',
    src: 'https://images.unsplash.com/photo-1555375771-14b2a63968a9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aXBob25lJTIwMTB8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60',
    title: 'Title',
    text: 'TEXT Lorem ipsum dolor sit amet, consectetur adipisicing elit',
    type: 'Phone',
    brand: 'I Phone'
    
  },
    {
    src: 'https://images.unsplash.com/photo-1599497828090-6eb0838fb1c8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTM2fHxzYW1zdW5nJTIwcGhvbmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60',
    title: 'Title',
    text: 'TEXT Lorem ipsum dolor sit amet, consectetur adipisicing elit',
    type: 'Phone',
    brand: 'Samsung'
    
  },
    {
    src: 'https://images.unsplash.com/photo-1600593540414-21d32998ceb3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80',
    title: 'Title',
    text: 'TEXT Lorem ipsum dolor sit amet, consectetur adipisicing elit',
    type: 'Earphone',
    brand: 'BRAND of tech ?'
    
  },
    {
    src: 'https://images.unsplash.com/photo-1637160151663-a410315e4e75?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHNtYXJ0JTIwd2F0Y2h8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60',
    title: 'Title',
    text: 'TEXT Lorem ipsum dolor sit amet, consectetur adipisicing elit',
    type: 'Smart Watch',
    brand: 'BRAND of tech ?'
    
  },
    {
    src: 'https://media.istockphoto.com/id/476801528/photo/black-foading-thumb-drive-with-clipping-path.jpg?b=1&s=170667a&w=0&k=20&c=Vs989YV17tRdQIPokZeMfaqpp2BSxWnbh0ocxnYU0UQ=',
    title: 'Title',
    text: 'TEXT Lorem ipsum dolor sit amet, consectetur adipisicing elit',
    type: 'Pendrive',
    brand: 'BRAND of tech'
    
  },
    {
    src: 'https://m.media-amazon.com/images/I/51+ARlxVI7L._AC_UL480_FMwebp_QL65_.jpg',
    title: 'Title',
    text: 'TEXT Lorem ipsum dolor sit amet, consectetur adipisicing elit',
    type: 'Data Cable',
    brand: 'BRAND of tech?'
    
  },
    {
    src: 'https://images-na.ssl-images-amazon.com/images/I/31hcJEp8rFL._AC_SR400,600_.jpg',
    title: 'Title',
    text: 'TEXT Lorem ipsum dolor sit amet, consectetur adipisicing elit',
    type: 'SSD Drive',
    brand: 'BRAND of tech?'
    
  }
];%>
  
<div class="container-fluid" id="blog">
  <div class="px-lg-5">
    <div class="row pb-5">
      <div class="col-lg-12 mx-auto">
        <div class="text-white p-5 shadow-sm rounded banner">
          <h1 class="display-4">Sameer Telecom </h1>
          <p class="lead">In Shubhash Nagar</p>
          <p class="lead">
            Owner <a href="#" class="text-reset">Amir Khan</a>,
            Asked your query ? <a href="tel:+91 98 97 09 6668" class="text-reset">+91 98 97 09 6668</a>.
            <br>
            
          </p>
          <p class="fin">
            Financers available <br>
            Samsung Finance+ <br>
            Mahindra consumer finance <br>
            Home credit <br>
            IDFC First Bank <br>
            HDB
          </p>
        </div>
      </div>
    </div>
    <div  id="gallery" class="row">
      <!-- Gallery item -->
      <% gallrey.forEach((item) => { %>
        <div class="item col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm">
            <img src="<%= item.src ? item.src : '#' %>" alt="" class="img-fluid card-img-top">
            <div class="p-4">
              <h5> <a href="<%= item.link ? item.link : '#' %>" class="text-dark"><%= item.title %></a></h5>
              <p class="small text-muted mb-0"><%= item.text %></p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><span class="font-weight-bold"><%= item.type ? item.type : '' %></span></p>
                <div class="badge badge-danger px-3 rounded-pill font-weight-normal"><%= item.brand ? item.brand : '' %></div>
              </div>
            </div>
          </div>
        </div>
      <% }) %>
      <!-- End -->
    </div>
    <div class="py-5 text-right"><a href="#" class="btn btn-dark px-5 py-3 text-uppercase">Show me more</a></div>
  </div>
</div>