<% 
const logo = 'SAMEER TELECOM';
  const nav = [
  {
  name: 'Home',
  href: '/'
  },
  {
  name: 'About',
  href: '/about'
  },
  {
  name: 'Map',
  href: '#myModal'
  }
  ];
const login = "";
%>
<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand"><%= logo %></a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
              <% nav.forEach((item) => { %>
           <a class="nav-item nav-link" href="<%= item.href %>" <%= item.name === 'Map' ? 'role=button  data-bs-toggle=modal' : '' %> ><%= item.name %></a>
              <% }) %>
            </div>
            <% if(login != "") { %>
              <div class="navbar-nav ms-auto">
                  <a href="#" class="nav-item nav-link">Login</a>
              </div>
            <% } %>
              
        </div>
    </div>
</nav>

<%- include('map') -%>
              